<div>
  <h2>Generate Casual Email Subject Lines</h2>
  <p-floatLabel>
    <textarea 
      [(ngModel)]="emailContent"
      id="float-input" 
      rows="30" cols="75" 
      pInputTextarea>
    </textarea>
    <label for="float-input">Enter email content</label>
  </p-floatLabel>
  <p-button (click)="generateCasualSubjectLines()" styleClass="p-button-success" label="Generate"></p-button>
  
  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="subjectLines.length">
    <h3>Suggested Subject Lines:</h3>
    <ul>
      <li *ngFor="let line of subjectLines">{{ line }}</li>
    </ul>
  </div>
</div>
  