.image-backdrop {
    background-color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

img {
    background-color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 50px; /* Space between the buttons */
}