.image-backdrop {
    background-color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 230px;
    border-radius: 50%;
    animation: fadeInAnimation ease 0.75s;
}

img {
    background-color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    border-radius: 5px;
    animation: fadeInAnimation ease 3s;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 50px; /* Space between the buttons */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}